<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        * {
            box-sizing: border-box;
        }

        a {
            color: rgb(94, 6, 6);
        }

        .background {
            background: lightyellow;
            margin: auto;
        }

        .topLinks {
            margin-top: .5%;
            font-weight: bold;
            text-align: center;
            margin-bottom: .5%;
            font-size: 17px;
            font-family: calligraphy;
            /* font-style: italic; */
        }

        /* .bottomLinks {
            position: fixed;
            left: 0;
            bottom: 2%;
            width: 100%;
            text-align: center;

        } */

        header {
            background-image: url("images/Shabbos.Set.Table.small222.jpg");
            background-repeat: no-repeat;
            background-position: center;
            height: 370px;
        }

        .headline {
            position: absolute;
            top: 42%;
            right: 50%;
            color: lightyellow;
            text-shadow: rgb(94, 6, 6) 2px 4px 2px;
            font-family: calligraphy;
            font-style: italic;
            font-size: 45px;
            font-weight: bold;
        }

        .firstGoldLine {
            background-size: 100%;
            background-image: url("images/gold.Color.jpg");
            margin: auto;
            padding: 4px;
        }

        .secondGoldLine {
            position: relative;
            top: 8px;
            background-size: 100%;
            background-image: url("images/gold.Color.jpg");
            margin: auto;
            padding: 2px;
        }

        .barNavigation {
            list-style-type: none;
            text-align: center;
            color: rgb(94, 6, 6);
            font-family: calligraphy;
            font-style: italic;
            font-size: 25px;
            font-weight: bold;
            position: relative;
            top: 10px;
            background-color: burlywood;
            margin: auto;
            height: 40px;
            overflow: hidden;
        }

        .References {
            list-style-type: none;
            text-align: center;
            color: rgb(94, 6, 6);
            font-family: calligraphy;
            font-style: italic;
            position: relative;
            top: 20px;
            background-color: goldenrod;
            margin: auto;
            height: 280px;
            width: 741px;
            overflow: hidden;
            font-size: 60px;
            cursor: pointer;
        }

        .References:hover {
            height: 280px;
            width: 741px;
            background-color: rgb(189, 143, 28);
        }
    </style>
</head>

<body class="background">
    <div class="container-fluid">


        <p class="topLinks">
            <a href="home" style="font-style: italic">Home</a>
            |
            <a href="about" style="font-style: italic">About Us</a>
            |
            <a href=contactUs style="font-style: italic">Contact Us</a>
            |
            <a href=updateDetails style="font-style: italic">Update Your Details</a>
            |
            <a href="donations" style="font-style: italic">Donations</a>
            |
            <a href="requests" style="font-style: italic">Requests for Foods</a>
        </p>

        <header>
            <h1 class="headline"> Food from Heaven, for Shabbos.</h1>
        </header>

        <div class="firstGoldLine"> </div>

        <div class="secondGoldLine"></div>

    </div>

    <!-- <footer class="bottomLinks">
        <a href="donations">Donations</a> | <a href="requests">Requests for Foods</a>
    </footer> -->

</body>

</html>

<script>
</script>