<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        * {
            box-sizing: border-box;
        }

        a {
            color: rgb(94, 6, 6);
        }

        .background {
            background: lightyellow;
            margin: auto;
        }

        .topLinks {
            margin-top: .5%;
            font-weight: bold;
            margin-bottom: .5%;
            font-size: 17px;
            font-family: calligraphy;
        }

        header {
            background-image: url("images/blue.heart.flowers2.jpg");
            background-repeat: no-repeat;
            background-position: center;
            height: 370px;
        }

        .headline {
            position: absolute;
            top: 42%;
            right: 50%;
            color: lightyellow;
            text-shadow: rgb(94, 6, 6) 2px 4px 2px;
            font-family: calligraphy;
            font-style: italic;
            font-size: 45px;
            font-weight: bold;
        }

        .firstGoldLine {
            background-size: 100%;
            background-image: url("images/gold.Color.jpg");
            margin: auto;
            padding: 4px;
        }

        .secondGoldLine {
            position: relative;
            top: 8px;
            background-size: 100%;
            background-image: url("images/gold.Color.jpg");
            margin: auto;
            padding: 2px;
        }

        .lowerBlock {
            margin-top: 2%;
            text-align: left;
            box-shadow: 10px 10px 10px 10px burlywood;
        }

        /* input {
            outline: 0;
            border-width: 0 0 1px;
            border-color: rgb(94, 6, 6);
        } */

        .donateButtons {
            border: 1px grey;
            cursor: pointer;
            text-align: center;
            padding: 50px 30px;
            font-family: calligraphy;
            font-style: italic;
            background-color: transparent;
            color: brown;
            box-shadow: 7px 7px 7px 2px burlywood;
            font-weight: bold;
            width: 360px;
            height: 200px;
            background-image: url('images/heart.button.background.no.hearts.jpg');
            color: teal;
            font-size: 28px;
            background-repeat: no-repeat;
        }

        .smallerDonateButtons {
            border: 1px grey;
            cursor: pointer;
            text-align: center;
            padding: 45px 30px;
            font-family: calligraphy;
            font-style: italic;
            background-color: transparent;
            color: brown;
            box-shadow: 7px 7px 7px 2px burlywood;
            font-weight: bold;
            width: 1100px;
            height: 40px;
            /* background-image: url('images/heart.button.background.no.hearts.jpg'); */
            color: teal;
            font-size: 20px;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body class="background">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="topLinks col-lg-10">
                <div class="row">
                    <div class="col-lg-2">

                        <a href="home" style="font-style: italic"> <img src="images/icon_home.png" alt="icon_home"
                                style="width:25px;height:25px;" title="Home"> </a>
                    </div>

                    <div class="col-lg-2"></div>
                    <div class="col-lg-7">

                        <a href="about" style="font-style: italic">About Us</a>
                        |
                        <a href=contactUs style="font-style: italic">Contact Us</a>
                        |
                        <a href=updateDetails style="font-style: italic">Update Your Details</a>
                        |
                        <a href="donations" style="font-style: italic">Donations</a>
                        |
                        <a href="requests" style="font-style: italic">Requests for Foods</a>

                    </div>
                </div>
            </div>
        </div>

        <header>
            <h1 class="headline"> Food from Heaven, for Shabbos.</h1>
        </header>

        <div class="firstGoldLine"> </div>

        <div class="secondGoldLine"></div>

    </div>

    <div class="container-fluid">

        <!-- <div class="barNavigation">
            <div> Welcome to the Registration Page for Donors for "Foods for Families".</div>
        </div> -->
        <div class="row">

            <div class="col-lg-1"></div>
            <div class="lowerBlock col-lg-10" id="block">
                <div class="col-lg-2"></div>
                <div class="col-lg-3" class="tooltip">
                    <br>
                    <button class="donateButtons" class="backgroundButton"
                        title="Click here to donate funds (cash / check / credit card)" id="submitBtn"
                        onclick="donateFundsFunction()">Donate
                        Funds</button>

                    <br><br>
                </div>
                <div class="col-lg-2"></div>

                <div class="col-lg-4">
                    <br>
                    <button class="donateButtons" class="backgroundButton"
                        title="Click here to donate funds (cash / check / credit card)" id="submitBtn"
                        onclick="donateFoodsFunction()">Donate
                        Foods</button>
                    <br> <br> <br>
                </div>

            </div>
            <!-- <div class="col-lg-2"></div>
            <div class="col-lg-1"></div> -->

        </div>

    </div>
    </div>
    </div>


    <div id="funds">
        <br>
        <div class="col-lg-10" id="threeDonationOptions">
            <!-- <div class="lowerBlock col-lg-10" id="block"> -->
            <div class="col-lg-2"></div>
            <div class="col-lg-9" class="tooltip">

                <button class="smallerDonateButtons" title="Click to donate cash" id="cashBtn"
                    onclick="donateCashFunction()">CASH Donation</button>
                <button class="smallerDonateButtons" title="Click to donate by check" id="checkBtn"
                    onclick="donateCheckFunction()">Donate by CHECK</button>
                <button class="smallerDonateButtons" title="Click to donate by credit card)" id=" creditCardBtn"
                    onclick="donateCreditCardFunction()">CREDIT CARDS (Visa / MC / AMEX)</button>
                <br><br>
            </div>
            <div class="col-lg-2"></div>


        </div>
    </div>
</body>

</html>

<script>
    function donateFundsFunction() {
        let x = document.getElementById("block");
        x.style.display = 'none'; // how to "hide"
        // element.style.display = 'block'; 
        // url = "https://go.thechesedfund.com/A5n1wl/helping-families-in-israel-israel-childrens-fund-501-c-3";
    }

    function donateFoodsFunction() {
        let x = document.getElementById("block");
        x.style.display = 'none'; // how to "hide"
        // element.style.display = 'block'; 
    }
</script>