<!DOCTYPE html>
<html lang="en">

<%-include ../partials/header %>

<head>
    <title> Food for Shabbos </title>
    <link rel="icon" type="image/ico" href="images/icon.Shabbos.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        * {
            box-sizing: border-box;
        }

        a {
            color: rgb(94, 6, 6);
        }

        .background {
            background: lightyellow;
            margin: auto;
        }

        .barNavigation {
            list-style-type: none;
            text-align: center;
            color: rgb(94, 6, 6);
            font-family: calligraphy;
            font-style: italic;
            font-size: 25px;
            font-weight: bold;
            position: relative;
            top: 8px;
            background-color: burlywood;
            margin: auto;
            height: 40px;
            overflow: hidden;
        }

        .References {
            list-style-type: none;
            text-align: center;
            color: rgb(94, 6, 6);
            font-family: calligraphy;
            font-style: italic;
            position: relative;
            top: 15px;
            background-color: rgb(233, 180, 47);
            /* background-color: rgb(241, 199, 93); <== submit bottons(registration) */
            margin: auto;
            height: 270px;
            width: 741px;
            overflow: hidden;
            font-size: 60px;
            cursor: pointer;
            border-width: 0 0 0px
        }

        .References:hover {
            height: 275px;
            width: 741px;
            /* background-color: rgb(189, 143, 28); */
            background-color: goldenrod;
        }
    </style>
</head>

<body class="background">
    <div class="container-fluid">

        <div class="barNavigation">
            <div> Hello. Welcome to Food for Families. Click either of the buttons below! </div>
        </div>

        <div class=col-lg-5>
            <div>
                <form>
                    <a href="loginDonor"><input class="References" value="Donors" id="donorButton"
                            style="border-radius: 0px 100px; right: 17px">
                    </a>
                </form>
            </div>
        </div>

        <div class=col-lg-2 style="width:120px;">
        </div>

        <div class=col-lg-5>
            <div>
                <form>
                    <a href="loginFamily"><input class="References" value="Families" id="familyButton"
                            style="border-radius: 100px 0px; ">
                    </a></form>
            </div>
        </div>

    </div>


</body>

</html>


<script>
</script>